{% load static %}
{% block content %}
<!-- Header Area -->
<header class="header" >
	<!-- Topbar -->
	<div class="topbar">
		<div class="container">
			<div class="row">
				<div class="col-lg-6 col-md-5 col-12">
					<!-- Contact -->
					<!-- <ul class="top-link">
						<li><a href="#">About</a></li>
						<li><a href="#">Doctors</a></li>
						<li><a href="#">Contact</a></li>
						<li><a href="#">FAQ</a></li>
					</ul> -->
					<!-- End Contact -->
				</div>
				<div class="col-lg-6 col-md-7 col-12">
					<!-- Top Contact -->
					<ul class="top-contact">
						<li><i class="fa fa-phone"></i>+880 1234 56789</li>
						<li><i class="fa fa-envelope"></i><a href="mailto:support@yourmail.com">support@yourmail.com</a></li>
					</ul>
					<!-- End Top Contact -->
				</div>
			</div>
		</div>
	</div>
	<!-- End Topbar -->
  <!-- Header Inner -->
	<div class="header-inner">
		<div class="container">
			<div class="inner">
				<div class="row">
					<div class="col-lg-3 col-md-3 col-12">
						<!-- Start Logo -->
						<div class="logo">
							<a href="{% url 'home' %}"><img style="max-width: 90px;     margin-bottom: 10px;" src="{% static 'img/logo.jpg' %}" alt="#"></a>
						</div>
						<!-- End Logo -->
						<!-- Mobile Nav -->
						<div class="mobile-nav"></div>
						<!-- End Mobile Nav -->
					</div>
					<div class="col-lg-7 col-md-9 col-12">
						<!-- Main Menu -->
						<div class="main-menu">
							<nav class="navigation">
								
								<ul class="nav menu">
									<li {% block nav_index%}{% endblock %}><a href="{% url 'home' %}">Home </a>
										<!-- <ul class="dropdown">
											<li><a href="index.html">Home Page 1</a></li>
										</ul> -->
									</li>    
									<li {% block about %}{% endblock %}><a href="{% url 'about' %}">About us </a></li>
									<!-- <li><a href="#">Contact </a></li> -->

<!-- -------------------------------------------------------------------------------------------------------------- -->
									<!-- <li ><a href="#">Dealers <i class="icofont-rounded-down"></i></a>
										<ul class="dropdown">
										</li>
										<li class="dropdown">
											<a href="#" class="dropdown-toggle" data-toggle="dropdown">Three Column <b class="caret"></b></a>
											<ul class="dropdown-menu multi-column columns-3 col-lg-12">
												<div class="row">
													<div class="col-sm-4">
														<ul class="multi-column-dropdown">
															<li><a href="#">Action</a></li>
															<li><a href="#">Another action</a></li>
															<li><a href="#">Something else here</a></li>
															<li class="divider"></li>
															<li><a href="#">Separated link</a></li>
															<li class="divider"></li>
															<li><a href="#">One more separated link</a></li>
														</ul>
													</div>
													<div class="col-sm-4">
														<ul class="multi-column-dropdown">
															<li><a href="#">Action</a></li>
															<li><a href="#">Another action</a></li>
															<li><a href="#">Something else here</a></li>
															<li class="divider"></li>
															<li><a href="#">Separated link</a></li>
															<li class="divider"></li>
															<li><a href="#">One more separated link</a></li>
														</ul>
													</div>
													<div class="col-sm-4">
														<ul class="multi-column-dropdown">
															<li><a href="#">Action</a></li>
															<li><a href="#">Another action</a></li>
															<li><a href="#">Something else here</a></li>
															<li class="divider"></li>
															<li><a href="#">Separated link</a></li>
															<li class="divider"></li>
															<li><a href="#">One more separated link</a></li>
														</ul>
													</div>
												</div>
											</ul>
										</li>
											







										</ul>
									</li> -->

<!-- ----------------------------------------------------------------------------------------------------------------- -->
									<li><a href="#">Deals in <i class="icofont-rounded-down"></i></a>
										<ul class="dropdown">
											<li><a href="{% url 'blog-single' %}">Blog Details</a></li>
											
										</ul>
									</li>


									<li ><a href="#">Dealers <i class="icofont-rounded-down"></i></a>
										<ul class="dropdown">
											<li><a href="{% url 'blog-single' %}">Blog Details</a></li>
											<li><a href="{% url 'blog-single' %}">Blog Details</a></li>
											<li><a href="{% url 'blog-single' %}">Blog Details</a></li>
											<li><a href="{% url 'blog-single' %}">Blog Details</a></li>
											<li><a href="{% url 'blog-single' %}">Blog Details</a></li>
											<li><a href="{% url 'blog-single' %}">Blog Details</a></li>
										</ul>
									</li>
									<li {% block contact%}{% endblock %}><a href="{% url 'contact' %}">Contact Us</a></li>
								</ul>
							</nav>
						</div>
						<!--/ End Main Menu -->
					</div>
					<div class="col-lg-2 col-12">
						<div class="get-quote">
							<a href="#" class="btn">Book Appointment</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--/ End Header Inner -->
</header>
<!-- End Header Area -->
{% endblock content %}