{% load static %}
{% block content %}
<!-- Header Area -->
<header class="header" >
	<!-- Topbar -->
	<div class="topbar">
		<div class="container">
			<div class="row">
				<div class="col-lg-6 col-md-5 col-12">
					
				</div>
				<div class="col-lg-6 col-md-7 col-12">
					<!-- Top Contact -->
					<ul class="top-contact">
						<li><i class="fa fa-phone"></i>+880 1234 56789</li>
						<li><i class="fa fa-envelope"></i><a href="mailto:support@yourmail.com">support@yourmail.com</a></li>
					</ul>
					<!-- End Top Contact -->
				</div>
			</div>
		</div>
	</div>
	<!-- End Topbar -->
  <!-- Header Inner -->
	<div class="header-inner">
		<div class="container">
			<div class="inner">
				<div class="row">
					<div class="col-lg-3 col-md-3 col-12">
						<!-- Start Logo -->
						<div class="logo">
							<a href="{% url 'home' %}"><img style="width: 50px;" src="{% static 'img/logo.jpg' %}" alt="Logo"></a>
						</div>
						<!-- End Logo -->
						<!-- Mobile Nav -->
						<div class="mobile-nav"></div>
						<!-- End Mobile Nav -->
					</div>
					<div class="col-lg-7 col-md-9 col-12">
						<!-- Main Menu -->
						<div class="main-menu">
							<nav class="navigation">
								
								<ul class="nav menu">
									<li {% block nav_index%}{% endblock %}><a href="{% url 'home' %}">Home </a>
										<!-- <ul class="dropdown">
											<li><a href="index.html">Home Page 1</a></li>
										</ul> -->
									</li>    
									<li {% block about %}{% endblock %}><a href="{% url 'about' %}"> About us </a></li>

									<li ><a href="#">New bar </a>
										
									</li>
									
									<li>
										<a class="nav-link" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
											Products <i class="icofont-rounded-down"></i>
											<!-- dropdown link<i class="fa fa-long-arrow-right"></i> -->
										</a>
										<ul class="dropdown-menu dropdown" aria-labelledby="navbarDropdownMenuLink">
											  <li><a class="new dropdown-item dropdown-toggle " href="#" style="padding: 5px;">Productone ></a>

												<ul class="dropdown-menu " style="top: 37px; left: 121.35px;">
													<li><a class="new dropdown-item" href="{% url 'p1p1' %}" style="padding: 5px;">one</a></li>
													<li><a class="new dropdown-item" href="{% url 'p1p2' %}" style="padding: 5px;">two</a></li>
			
			
													<li><a class="dropdown-item " href="{% url 'p1p3' %}" style="padding: 5px;">three</a>
														<!-- <ul class="dropdown-menu ">
															<li><a class="new dropdown-item" href="#" style="padding: 5px;">three action aa</a></li>
															<li><a class="new dropdown-item" href="#" style="padding: 5px;">Another three action</a></li>
														</ul> -->
													</li>
													<li><a class="new dropdown-item " href="{% url 'p1p4' %}" style="padding: 5px;">four</a>
														<!-- <ul class="dropdown-menu">
															<li><a class="new dropdown-item" href="#" style="padding: 5px;">three action bb</a></li>
															<li><a class="new dropdown-item" href="#" style="padding: 5px;">Another three action</a></li>
														</ul> -->
													</li>
												</ul>
											
											</li> 



											<li><a class="new dropdown-item dropdown-toggle" href="#" style="padding: 5px;">Producttwo ></a>
												
													
												<ul class="dropdown-menu " style="top: 37px; left: 121.35px;">
													<li><a class="new dropdown-item" href="{% url 'p2p1' %}" style="padding: 5px;">one </a></li>
													<li><a class="new dropdown-item" href="{% url 'p2p2' %}" style="padding: 5px;">two</a></li>
			
			
													<li><a class="dropdown-item " href="{% url 'p2p3' %}" style="padding: 5px;">three  </a>
														<!-- <ul class="dropdown-menu ">
															<li><a class="new dropdown-item" href="#" style="padding: 5px;">three action aa</a></li>
															<li><a class="new dropdown-item" href="#" style="padding: 5px;">Another three action</a></li>
														</ul> -->
													</li>
													<li><a class="new dropdown-item " href="{% url 'p2p4' %}" style="padding: 5px;">four</a>
														<!-- <ul class="dropdown-menu">
															<li><a class="new dropdown-item" href="#" style="padding: 5px;">three action bb</a></li>
															<li><a class="new dropdown-item" href="#" style="padding: 5px;">Another three action</a></li>
														</ul> -->
													</li>
												</ul>

											
											</li> 
											<li><a class="dropdown-item dropdown-toggle" href="#" style="padding: 5px;">Productthree></a>
												<ul class="dropdown-menu " style="top: 37px; left: 121.35px;">
													<li><a class="new dropdown-item" href="{% url 'p3p1' %}" style="padding: 5px;">one</a></li>
													<li><a class="new dropdown-item" href="{% url 'p3p2' %}" style="padding: 5px;">two</a></li>
			
			
													<li><a class="dropdown-item " href="{% url 'p3p3' %}" style="padding: 5px;">three</a>
														<!-- <ul class="dropdown-menu ">
															<li><a class="new dropdown-item" href="#" style="padding: 5px;">three action aa</a></li>
															<li><a class="new dropdown-item" href="#" style="padding: 5px;">Another three action</a></li>
														</ul> -->
													</li>
													<li><a class="new dropdown-item " href="{% url 'p3p4' %}" style="padding: 5px;">four </a>
														<!-- <ul class="dropdown-menu">
															<li><a class="new dropdown-item" href="#" style="padding: 5px;">three action bb</a></li>
															<li><a class="new dropdown-item" href="#" style="padding: 5px;">Another three action</a></li>
														</ul> -->
													</li>
												</ul>
											</li>
											<li><a class="dropdown-item dropdown-toggle" href="#" style="padding: 5px;">productfour ></a>
												<ul class="dropdown-menu" style="top: 37px; left: 121.35px;">
													<li><a class="new dropdown-item" href="{% url 'p4p1' %}" style="padding: 5px;">one</a></li>
													<li><a class="new dropdown-item" href="{% url 'p4p2' %}" style="padding: 5px;">two</a></li>
			
			
													<li><a class="dropdown-item " href="{% url 'p4p3' %}" style="padding: 5px;">three</a>
														<!-- <ul class="dropdown-menu">
															<li><a class="new dropdown-item" href="#" style="padding: 5px;">three action 1 3</a></li>
															<li><a class="new dropdown-item" href="#" style="padding: 5px;">Another three action 2 3</a></li>
														</ul> -->
													</li>
													<li><a class="dropdown-item " href="{% url 'p4p4' %}" style="padding: 5px;">four</a>
														<!-- <ul class="dropdown-menu">
															<li><a class="new dropdown-item" href="#" style="padding: 5px;">three action 3 </a></li>
															<li><a class="new dropdown-item" href="#" style="padding: 5px;">Another three action 3</a></li>
														</ul> -->
													</li>
												</ul>
											</li>
										</ul>
									</li>
									<li {% block contact%}{% endblock %}><a href="{% url 'contact' %}">Contact Us</a></li>
								</ul>
							</nav>
						</div>
						<!--/ End Main Menu -->
					</div>
					<div class="col-lg-2 col-12">
						<div class="get-quote">
							<a href="#" class="btn">SEarch</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--/ End Header Inner -->
</header>
<!-- End Header Area -->
{% endblock content %}